:root {
  --color-primary: #fb8263;
  --color-primary-dark: #bb3d1c;
  --color-secondary: #fc9e85;
  --color-headings: #fefefe;
  --color-body: #fde4e0;
  --color-text-dark: #1c1d1d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  color: var(--color-body);
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

h1 {
  font-family: "Lobster Two", cursive;
  color: var(--color-headings);
  background: var(--color-primary);
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.heading-dark {
  color: var(--color-text-dark);
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Buttons */
.btn {
  border: 0;
  cursor: pointer;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  padding: 4rem 6rem;
  border-radius: 40px;
  font-size: 2rem;
}

.btn-dark {
  background: var(--color-primary-dark);
  color: var(--color-body);
}

.btn-dark:hover {
  /* TODO: Make sure hover effect doesn't clash with background colour of hero */
  background: #d95938;
}

/* Cake Card */
.card-container {
  max-width: 1000px;
  margin: 0 auto;
}

.cake-grid {
  justify-content: center;
}

.cake-card {
  text-align: center;
  border-radius: 20px;
  padding: 0 4rem 4rem;
  margin-bottom: 3rem;
}

.card-light {
  background: var(--color-secondary);
}

.card-title {
  margin-top: 1rem;
}

.cake-content {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.cake-card-image {
  margin-top: 0rem;
  max-width: 500px;
}

.card-arrow {
  background: white;
  border-radius: 50%;
  width: 60px;
}

.card-1-title {
  margin-top: -1rem;
}
.card-3-title {
  margin-top: -3rem;
}

.card-arrow:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 768px) {
  .cake-card {
    padding: 0 2rem 2rem 2rem;
    max-width: 600px;
  }

  .card-arrow {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .cake-card {
    padding: 0 2rem 2rem;
    margin: 1rem;
  }

  .card-title {
    margin-top: -12rem;
  }

  .cake-card-image {
    transform: translateY(-130px);
  }
}

/* Testimonials */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.dark-block {
  background: var(--color-primary);
  padding: 2rem;
  text-align: center;
}

.testimonial-card {
  background: white;
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto 3rem;
  border-radius: 20px;
  color: var(--color-text-dark);
}

.testimonial-heading {
  font-size: 4rem;
}

.testimonial-image {
  max-width: 300px;
  border-radius: 20px;
  margin-top: 2rem;
}

.testimonial-name {
  font-size: 3.5rem;
}

@media screen and (min-width: 768px) {
  .testimonial-card {
    padding: 2rem;
    max-width: 100%;
  }

  .testimonal.dark-block .grid {
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .testimonal.dark-block {
    padding: 2rem 8rem 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .testimonal.dark-block {
    padding: 2rem 16rem 8rem;
  }
}

/* About Us */
.about-us-block {
  color: var(--color-text-dark);
  text-align: center;
}

.about-us-info {
  padding: 2rem;
}

.about-us-heading {
  margin-top: -7rem;
  margin-bottom: 2rem;
}

.about-us-content {
  padding: 0 4rem;
}

.about-us-block .btn {
  margin-top: 2rem;
  padding: 2rem 5rem;
}

@media screen and (min-width: 768px) {
  .about-us-block {
    justify-items: center;
    align-items: center;
  }

  .about-us-block .btn {
    margin-top: 2rem;
    padding: 2rem 5rem;
  }

  .about-us-heading {
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: left;
    font-size: 3rem;
  }
  .about-us-info {
    text-align: left;
  }

  .about-us-block .btn {
    margin-top: 2rem;
    padding: 1.5rem 4rem;
    font-size: 1.5rem;
  }

  .about-us-content {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .about-us-info {
    padding: 0 8rem;
  }
}

/* Navbar */

.nav {
  background: var(--color-primary);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.nav-list {
  width: 100%;
  margin: 0;
}

.icon {
  width: 50px;
}

.icon-white {
  color: white;
}

.pancakes {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: var(--color-body);
}

.list {
  list-style: none;
  padding-left: 0;
}

.nav-item {
  border-bottom: 1px solid var(--color-primary-dark);
  padding: 0.5rem 2rem;
}

.nav-item:last-of-type {
  border-bottom: none;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible-expanded .collapsible-content {
  max-height: 100%;
  opacity: 1;
}

.brand-title {
  font-family: "Lobster Two", cursive;
  font-size: 2.5rem;
  transform: translateY(12px);
  position: absolute;
  margin-left: 1rem;
}

.nav-brand {
  position: relative;
}

.nav-item > a {
  transition: color 0.3s;
}

.nav-item > a:hover {
  color: #fff;
}

.dark-block {
  background: var(--color-primary);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nav-toggler {
    display: none;
  }
  .nav-list {
    width: auto;
    display: flex;
    font-size: 1.8rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav-item {
    border: 0;
  }
}

/* Contact Us Form */

textarea {
  resize: none;
  height: 12rem;
}

.input {
  border-radius: 10px;
  border: 1px solid var(--color-text-dark);
  color: var(--color-text-dark);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
  width: 80%;
}

::placeholder {
  color: var(--color-text-dark);
}

.input-group {
  margin: 1rem auto;
}

.container-small {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-form .btn {
  padding: 2rem 8rem;
  text-transform: uppercase;
}

/* Shop Contact Details */

.our-contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-text-dark);
  font-size: 1.8rem;
  margin: 2rem auto;
  text-align: center;
}
.detail-group {
  margin: 1rem 0;
}

.location {
  margin-left: -8rem;
}

.details-text {
  margin-left: 1.5rem;
}

@media screen and (min-width: 768px) {
  .our-contact-details {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.8rem;
    margin: 2rem auto;
    text-align: center;
  }

  .location {
    margin-left: 0;
  }

  .details-text {
    margin: 0 1rem;
  }
}

/* Footer */
.icon-group {
  margin-top: 2rem;
}
