<div class="card-container">
  <div class="cake-grid grid grid--1x3">
    <div class="cake-card card-light">
      <img
        class="cake-card-image"
        src="images/cake2.png"
        alt="Cake with a cherry on top"
      />
      <h3 class="card-title card-1-title">Classic Treat</h3>
      <p class="cake-content">
        A collection of classic cakes and biscuits. Great for an afternoon snack
        or dessert for the whole family.
      </p>
      <a href="#"><img class="card-arrow" src="images/arrow.png" alt="" /></a>
    </div>

    <div class="cake-card card-light">
      <img
        class="cake-card-image"
        src="images/cake1.png"
        alt="Cake with a cherry on top"
      />
      <h3 class="card-title">Classic Treat</h3>
      <p class="cake-content">
        A collection of classic cakes and biscuits. Great for an afternoon snack
        or dessert for the whole family.
      </p>
      <a href="#"><img class="card-arrow" src="images/arrow.png" alt="" /></a>
    </div>

    <div class="cake-card card-light">
      <img
        class="cake-card-image"
        src="images/cake3.png"
        alt="Cake with a cherry on top"
      />
      <h3 class="card-title card-3-title">Classic Treat</h3>
      <p class="cake-content">
        A collection of classic cakes and biscuits. Great for an afternoon snack
        or dessert for the whole family.
      </p>
      <a href="#"><img class="card-arrow" src="images/arrow.png" alt="" /></a>
    </div>
  </div>
</div>
