<div class="container-small">
  <h2 class="heading-dark">Contact Us</h2>
  <form class="contact-form">
    <div class="input-group">
      <input aria-label="Name" type="text" class="input" placeholder="Name" />
    </div>
    <div class="input-group">
      <input
        aria-label="Email"
        type="email"
        class="input"
        placeholder="Email"
      />
    </div>
    <div class="input-group">
      <textarea class="input" placeholder="Message"></textarea>
    </div>
    <button class="btn btn-dark">Send</button>
  </form>
</div>
