<div class="container dark-block">
  <div class="container-inner">
    <div class="hero grid grid--1x2">
      <div class="shop-heading">
        <h1>Welcome to Our Cake Shop</h1>
        <p class="shop-heading-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          magnam nihil corporis tenetur tempore! Esse natus ut magni maiores
          labore.
        </p>
        <button class="btn btn-dark">Shop Now</button>
      </div>
      <div class="hero-cake">
        <img class="hero-cake-img" src="images/cake.png" alt="" />
      </div>
    </div>
  </div>
</div>
