<header>
  <div class="container">
    <div class="nav-dark-block">
      <div class="container-inner">
        <nav class="nav collapsible">
          <a aria-label="CakeJoey" class="nav-brand" href="#"
            ><img class="icon icon-white pancakes" src="images/pancakes.png" />
            <span class="brand-title">Cakejoey</span>
          </a>
          <img
            class="icon icon-white nav-toggler"
            src="images/menu.png"
            alt=""
          />
          <ul class="list nav-list collapsible-content">
            <li class="nav-item">
              <a href="#">Home</a>
            </li>
            <li class="nav-item">
              <a href="#">Products</a>
            </li>
            <li class="nav-item">
              <a href="#">About</a>
            </li>
            <li class="nav-item">
              <a href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
