<div class="container">
  <div class="our-contact-details">
    <div class="detail-group">
      <img class="icon icon-left" src="images/call.png" alt="" />
      <span class="details-text">+01 1234567890</span>
    </div>
    <div class="detail-group">
      <img class="icon icon-left" src="images/mail.png" alt="" />
      <span class="details-text">demo@gmail.com</span>
    </div>
    <div class="detail-group location">
      <img class="icon icon-left" src="images/location.png" alt="" />
      <span class="details-text">Location</span>
    </div>
  </div>
</div>
