<div class="container">
  <div class="testimonial dark-block">
    <h2 class="testimonial-heading">What Our Customers Say</h2>
    <div class="grid grid--1x2">
      <div class="testimonial-card">
        <img
          class="testimonial-image"
          src="images/14.jpg"
          alt="Picture of a smiling man"
        />
        <h3 class="testimonial-name">John Doe</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          cupiditate quia velit magnam? Eligendi obcaecati repellendus impedit
          quasi voluptates assumenda?
        </p>
      </div>
      <div class="testimonial-card">
        <img
          class="testimonial-image"
          src="images/45.jpg"
          alt="Picture of a smiling man"
        />
        <h3 class="testimonial-name">Alice Kent</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          cupiditate quia velit magnam? Eligendi obcaecati repellendus impedit
          quasi voluptates assumenda?
        </p>
      </div>
    </div>
  </div>
</div>
